.screen-container{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding-top: 15%;
    padding-bottom: 20%;
    font-family: 'Jost', sans-serif;
}

.quote-container {
    width: 450px;
    margin: 0 auto;
    padding: 40px;
}

.title-container {
    display: flex;
    justify-content: center;
}


.title-container h1{
    text-align: center;
}

h1{
    font-size: 20px;
    margin-left: 5px;
}

h3{
    font-size: 1em;
}

.author-container{
    display: flex;
    justify-content: flex-end;

}


.btm{
    margin-top: 20px;
    display: flex;
    height: 35px;
}
.btm-left {
    width: 50%;
}

.btm-left {
    padding-left: 20px;
    display: flex;
    font-size: 1.5em;
    margin-right: 5px;
    width: 50%;
}

.btm-left a{
    margin-right: 10px;
}

.btm-right{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.fade-in {
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }


    .fade-exit {
        animation: fadeOut ease 1.5s;
        -webkit-animation: fadeOut ease 1.5s;
        -moz-animation: fadeOut ease 1.5s;
        -o-animation: fadeOut ease 1.5s;
        -ms-animation: fadeOut ease 1.5s;
        }
        @keyframes fadeOut {
        0% {opacity:1;}
        100% {opacity:0;}
        }
        
        @-moz-keyframes fadeOut {
        0% {opacity:1;}
        100% {opacity:0;}
        }
        
        @-webkit-keyframes fadeOut {
        0% {opacity:1;}
        100% {opacity:0;}
        }
        
        @-o-keyframes fadeOut {
        0% {opacity:1;}
        100% {opacity:0;}
        }
        
        @-ms-keyframes fadeOut {
        0% {opacity:1;}
        100% {opacity:0;}
        }

